<html>
  <head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
   <h2><u>Registration</u></h2>
   <form class="RegistrationForm">
      <mat-form-field class = "example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Max 16 symbols">
     </mat-form-field>
     <mat-form-field class = "example-full-width" appearance="fill">
       <mat-label>Password</mat-label>
        <input matInput placeholder="Max 16 symbols">
      </mat-form-field>
     <button mat-raised-button color="primary">Register</button>
    </form>
  </body>
</html>
